.funFox,
.Week1 {
  position: relative;
}
.funFox {
  top: 50px;
  left: 5%;
}

.Week1 {
  position: relative;
  top: -10px;
  left: 4%;
}
.leftSide, .rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.leftSide {
  gap: 14rem;
  top: 13rem;
  left: 4rem;
}

.rightSide {
  gap: 12rem;
  top: 10rem;
  right: 3.5rem;
}


.heading {
  width: 529px;
  height: 50px;
  background-color: #fe6784;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3.31px dotted #ffaebe;
  border-radius: 30px;
  box-shadow: 0px 0px 11.047767639160156px 0px #00000040;
  margin-left: 25%;
}

.headingText {
  font-family: Short Stack;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.welcomeMessage {
  width: 100%;
  max-width: 1046px;
  height: 87px;
  font-family: Short Stack;
  margin-bottom: -13px;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.06em;
  text-align: left;
  color: #1e242f;
}

.rectangle1 {
  width: 1026px;
  height: 114px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px dotted #a4fdfb;
  box-shadow: 0px 0px 10px 0px #00000040;
  background-color: #25a3a1;
}

.rectangle1Text {
  position: relative;
  width: 875px;
  height: 67px;
  left:6px;
  top:-1rem;
  font-family: Short Stack;
  font-size: 30px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
}

.childRead {
  position: relative;
  left: 56rem;
  top: -7.9rem;
}
.word-list {
  display: flex;
  flex-direction: row;
  gap: 10px; 
}

.word-list span {
  padding: 5px 10px;
  border-radius: 5px;
}
.knowledge {
  width: 1038px;
  height: 87px;
  font-family: Short Stack;
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #1e242f;
  margin-bottom: 8px;
}
.rectangle2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1025px;
  height: 133px;
  border-radius: 20px;
  background-color: #fe6784;
  box-shadow: 0px 8px 2px 0px #00000040;
}
.wrapper {
  display: flex;
}
.rectangle2Text {
  position: absolute;
  margin-left: 30px;
  margin-top: 4px;
  width: 931px;
  height: 87px;
  font-family: Short Stack;
  font-size: 25px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  color: #1e242f;
}

.image {
  width: 100%;
}

/* Media Queries for Laptop */
@media only screen and (max-width: 1336px) {
  .funFox {
    left: 3%;
  }

  .Week1 {
    left: 2%;
  }

  .leftSide {
    left: 2rem;
  }

  .rightSide {
    right: 2rem;
  }

  .heading {
    margin-left: 15%;
  }
}

@media only screen and (max-device-width: 1024px) {

  .funFox{
    top:50px;
    left:1%;
  }


  .leftSide {
    gap: 15rem;
    left: 0.5rem;
  }

  .rightSide { 
    gap: 13rem;
    right:0.1rem;
  }

  .heading {
    width: 50%; 
    margin-left: 25%; 
  }

 
  .headingText,
  .welcomeMessage,
  .knowledge,
  .rectangle1Text,
  .rectangle2Text {
    font-size: 18px;
  }


  .rectangle1,
  .rectangle2 {
    width: 100%; 
  }

  
  .childRead {
    left: 38rem; 
    top: -6.5rem; 
  }

  .word-list{
    gap:2px;  
  }
  .word-list span{
    width:120px;
    
  }
  .wrapper{
    width:50%;
    margin-right: 45%;
  }

  .image {
    width: 100%; 
  }
}

